.sub-menu {
    position:fixed;
    bottom:2.35em;
    left:0;
    width:100%;
    border-top:2px solid black;
    padding:0.5rem 1rem;
    background:rgba(255,255,255,1);
    display:flex;

    a { position:relative; }
    a.active::before {
        content:"";
        width:100%;
        position:absolute;
        display:block;
        height: 0.25rem;
        background: black;
        top: -0.78em;
    }
}

.sub-menu .sub-parent {
    flex:0 1 25%;
}

.sub-menu ul {
    display:flex;
    flex:0 1 50%;
    justify-content:center;
    margin:0;
    padding:0;
    list-style:none;

    li {
        margin:0 0.5rem;
    }

}
